@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.industries-container {
  width: 100vw;
  height: 100vh;
}

/* .rd3t-g {
  transform: translate(190.5px, 358.4px);
} */
.tree-root {
  transform: translate(-40px, 0px);
}

.tree-link {
  stroke: url(#gradient) !important;
}

.text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.directional-text {
  background-image: linear-gradient(to right, #d64435, #3f2995);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2em;
  position: absolute;
  bottom: 2em;
  justify-self: center;
  transform: translate(50%, 0%);
  text-align: center;
}

.blink {
  animation: blink 1s linear infinite;
}

@media only screen and (max-width: 1024px) {
  .directional-text {
    font-size: 1.5em;
    transform: translate(0%, 0%);
  }
}
